# A2CHAT: HIMEM $BF00, ProDOS I/O buffers at $B600 (2K), LC $D400-$DFFF, POST in aux

FEATURES {
    STARTADDRESS: default = $0803;
}
SYMBOLS {
    __EXEHDR__:    type = import;
    __FILETYPE__:  type = weak, value = $0006;
    __STACKSIZE__: type = weak, value = $0100;
    __HIMEM__:     type = weak, value = $BF00;
    __FILEIO__:    type = weak, value = $BA00;
    __LCADDR__:    type = weak, value = $D400;
    __LCSIZE__:    type = weak, value = $0C00;
}
MEMORY {
    ZP:     file = "", define = yes, start = $0080,                size = $001A;
    HEADER: file = %O,               start = %S - $003A,           size = $003A;
    MAIN:   file = %O, define = yes, start = %S,                   size = __HIMEM__ - %S;
    BSS:    file = "",               start = __ONCE_RUN__,         size = __FILEIO__ - __ONCE_RUN__;
    FILEIO: file = "", define = yes, start = __FILEIO__,           size = $0400;
    LC:     file = "", define = yes, start = __LCADDR__,           size = __LCSIZE__;
}
SEGMENTS {
    ZEROPAGE: load = ZP,             type = zp;
    EXEHDR:   load = HEADER,         type = ro,  optional = yes;
    STARTUP:  load = MAIN,           type = ro;
    LOWCODE:  load = MAIN,           type = ro,  optional = yes;
    CODE:     load = MAIN,           type = ro;
    RODATA:   load = MAIN,           type = ro;
    DATA:     load = MAIN,           type = rw;
    INIT:     load = MAIN,           type = rw;
    ONCE:     load = MAIN,           type = ro,  define   = yes;
    LC:       load = LC,             type = bss, optional = yes;
    BSS:      load = BSS,            type = bss, define   = yes;
    FILEIO:   load = FILEIO,         type = bss, optional = yes;
}
FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = ONCE;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
}
